# S3 Configuration
S3_BUCKET=your_bucket_name
S3_ACCESS_KEY_ID=your_access_key
S3_SECRET_ACCESS_KEY=your_secret_key

# ENDPOINT CONFIGURATION
#
#  Note: Only change the following if you are using
#        a different container name for `renterd`.
#
# Example URL:  http://<renterd container name>:port
S3_ENDPOINT_URL=http://renterd:8080