#  S3 Configuration

#    Replace `your_bucket_name`, `your_access_key`, and
#    `your_secret_key` with the S3 details you have
#    configured in `renterd`.

S3_BUCKET=your_bucket_name
S3_ACCESS_KEY_ID=your_access_key
S3_SECRET_ACCESS_KEY=your_secret_key


#  ENDPOINT CONFIGURATION

#    If you are running `renterd` in docker, you will need
#    to specify your endpoint by using your `renterd`'s
#    container name. Otherwise you will need to specify
#    your endpoint by IP or domain.
#
#    Docker Example: http://<container>:port
#                    http://renterd:8080

S3_ENDPOINT_URL=http://localhost:8080